@import url("./Host/Card.css");
@import url("./Host/FilterBar.css");

body {
  font-family: futura;
  background-color: #050505;
  color: white;
}

.main {
  width: calc(100vw - 250px);
  position: relative;
  left: 200px;
  top: 70px;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #050505;
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
  padding: 20px;
  height: 150px;
}

.login-logo {
  width: 65%;
  margin-bottom: 25px;
}

.header {
  width: calc(100vw - 250px);
  left: 200px;
  position: relative;
  top: 50px;
}

.navbar {
  display: inline;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid #d81159;
}

.navbar-button {
  color: #d81159;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-button-active {
  color: #050505;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #d81159;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 2rem;
}

.host-landing-row {
  display: block;
  margin-bottom: 18px;
}

.host-landing-button {
  display: inline-block;
  width: 16vw;
  height: 45px;
  background-color: #006ba6;
  border-radius: 40px;
  color: #ffbc42;
  text-decoration: none;
  font-size: 1.5rem;
  padding-top: 15px;
  text-align: center;
  margin-right: 15px;
}

.double {
  width: 33vw;
  background-color: #d81159;
}

.logout-button {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffbc42;
  float: right;
}

.logout-button:hover {
  background-color: #ffbc42;
  color: #050505;
}

.login-flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.login-flex-left-column {
  flex-basis: auto;
  width: 50vw;
  min-width: 300px;
  text-align: center;
}

.login-flex-right-column {
  flex-basis: auto;
  width: 50vw;
  min-width: 300px;
  text-align: center;
}

.qc-icon {
  padding: 1%;
  width: 20%;
}

.signup-login-container {
  display: inline-block;
  background-color: #006ba6;
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
  width: 50%;
  height: 60%;
  color: #ffbc42;
}

.toggle-button {
  display: inline-block;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.lds-circle > div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 6px;
  border-radius: 50%;
  background-color: #d81159;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-circle > div:after {
  background-image: url("./Assets/quiz-commander-logo.png");
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
